<h1>Driver</h1>

<%= link_to 'Back', drivers_path, class: 'btn btn-primary' %>

<%= bootstrap_form_for(@driver, layout: :horizontal, label_col: 'col-sm-2', control_col: 'col-sm-10') do |f| %>
    <%= f.static_control :name %>
<% end %>

